{% load static %}
<!DOCTYPE html>

<html>
<head>
<title>Verkkokauppa</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/homepage.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
<link rel="icon" href="{% static 'img/favicon.ico' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="navigationclass">
    <a href="/">Etusivu</a>
    <a href="/faq">Opas</a>
    {% if request.user.is_superuser %}
        <a href="/addProducts">Lisää tuotteita</a>
        <a href="/logout">Kirjaudu ulos</a>
    {% else %}
        <a href="/login">Kirjaudu sisään</a>
    {% endif %}
    <form type="get" action="." id="searchform">
        <input id="searchbox" type="text" name="search" placeholder="Tuotenimi/tuotekoodi">
        <button type="submit"  id="submitbutton" class="icon">Hae<i class="material-icons">search</i></button>
    </form>
    <div id = "shoppingCart">Ostoskori <i class="material-icons">shopping_basket</i><p id = "numberOfItems">0</p>
        <div id="cartDiv">
            <div id = "shoppingItems">
            </div>
        </div>
    </div>
    
</div>
{% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}
{% block content %}
{% endblock %}
</body>

</html>
