{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3>Sivuston käyttöopas</h3>
    <p><b>Ohjeet</b></p>
    <p class="answer">Hei ja tervetuloa käyttämään verkkokauppaamme! Teit oikein valitsessasi meidän verkokaupan. Meiltä löytyy kaikki tuotteet maan ja taivaan väliltä.</p>
    <p class="answer">Tässä osiossa selitetään verkkokaupan toimintatapa. Voit lisätä tuotteen ostoskoriisi painamalla jokaisen tuotteen alareunassa olevaa nappia "Lisää tuote ostokoriin". </p>
    <p class="answer">Voit tarkastella ostokoria klikkaamalla sitä sivun oikealla ylälaidalla.</p>
</div>
{% endblock %}